/* Apply gradient background */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FFDD93, #FF9A76, #1E81B0);
    background-attachment: fixed;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Content styling */
.content {
  text-align: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.content td {
    padding: 15px 25px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}