h1 {
    display: flex;
    justify-content: center;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.styled-table th, 
.styled-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.styled-table th {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.styled-table tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tr:hover {
    background-color: #ddd;
}

.styled-table tr:first-child th {
    border-top: 2px solid #009879;
    border-bottom: 2px solid #009879;
}
